@page
@model ContactModel
@{
    ViewData["Title"] = "Contact";
}


<div class="empty_1 designUI"></div>

<section class="vbox designUI">

    <p>sviat.gotsko@gmail.com</p>

</section>

<div class="empty_2 designUI"></div>