@page
@model IndexModel
@{
    ViewData["Title"] = "CalcSpace";
}

<div class="empty_1 designUI"></div>

<section class="vbox designUI">

    <div class="block__item designUI">
        <form oninput="" method="post">
            <textarea class="textinput" name="input" id = "01" placeholder="Calculate me"
                      spellcheck="false" autofocus oninput="ExecutePhrase()"></textarea>
        </form>
    </div>

    <div class="block__item designUI">
        <form oninput="">
            <output class="textoutput_2" id="result_notifier">note, your decimal separator is ','</output>
        </form>
    </div>


    <div class="hbox">

        <div class="block__item designUI">
            <form oninput="">
                <output class="textoutput_1" id="result_decimal">decimal: </output>
            </form>
        </div>

        <div class="block__item designUI">
            <form oninput="">
                <output class="textoutput_1" id="result_binary">binary: </output>
            </form>
        </div>

    </div>


    <div class="block__item designUI">
        <form oninput="">
            <output class="textoutput_2" id="result_hexadecimal">hexadecimal: </output>
        </form>
    </div>

</section>

<div class="empty_2 designUI"></div>