/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

html, body, .viewport {
    width: 100%;
    height: 100%;
    margin: 0;
}

body {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background: linear-gradient(45deg, #051937, #004d7a, #008793, #00bf72, #a8eb12);
    font-family: arial, helvetica, sans-serif;
    margin: 0;
}

/*---------------------------white greed to improve design process*/

.designUI {
    /*border: 1px solid white;*/
}

/*----------------------------------------------------------------*/

header, footer, section {
    padding: 0.25em;
}

header {
    width: 160px;
    height: 10%;

    display: flex;
    display:-webkit-flex;

    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.empty_1 {
    height: 15%;
}

section {
    width: 700px;

    display: flex;
    display: -webkit-flex;

    flex-direction: column;
    justify-content: space-around;
}

.empty_2 {
    height: 25%;
}

footer {
    width: 400px;
    height: 5%;

    display: flex;
    display: -webkit-flex;

    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    font-family: sans-serif;
    font-size: 13px;
    color: rgba(255, 255, 255, 0.5);
}

.title {
    width: 160px;

    display: flex;
    display: -webkit-flex;

    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

h1 {
    font-family: sans-serif;
    font-size: 22px;
    font-weight: 800;
    color: white;
}

h6 {
    font-family: sans-serif;
    font-size: 13px;
    font-weight: 800;
    color: white;
    background-color: magenta;
    border-radius: 5px;
    padding: 1px;
}

.block__column {
    width: inherit;
}

.block__item {
    display: flex;
    display: -webkit-flex;
}

/*---------------------------------------------texarea form*/

textarea {
    height: 100px;
    box-sizing: border-box;
    padding: 20px;
    background-color: white;
    outline-color: transparent;
    outline-style: none;
    outline: none;
    overflow: auto;
    border: none;
    border-radius: 30px;
    border-color: white;
    font-size: 25px;
}

.textinput {
    float: left;
    width: 100%;
    min-height: 75px;
    outline: none;
    resize: none;
    color: black;
    font-family: sans-serif;
    overflow: hidden;
}

/*--------------------------------------------------------*/

#result_notifier {
    box-sizing: border-box;
    text-align: center;
    font-family: sans-serif;
    font-size: 14px;
    font-weight: 600;
    color: white;
    padding-top: 5px;
    padding-bottom: 25px;
    border: none;
    cursor: default;
    float: left;
}

#result_decimal, #result_binary, #result_hexadecimal {
    box-sizing: border-box;
    text-align: left;
    font-size: 15px;
    text-transform: uppercase;
    background-color: #008793;
    color: white;
    padding: 17px;
    border: none;
    border-radius: 30px;
    cursor: text;
    float: left;
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
}

::selection {
    background-color: #8CC410;
    color: white;
}

.hbox {
    width: 100%;

    display: flex;
    display: -webkit-flex;

    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.vbox {
    display: flex;
    display: -webkit-flex;

    flex-direction: column;
    align-items: center;
    flex-grow: 1;
}

.textinput {
    width: 660px;
}

.textoutput_1, .textoutput_2 {
    width: 330px;
    margin: 1px;
    overflow: hidden;
}

.textoutput_3 {
    width: 500px;
    margin: 1px;
    overflow: hidden;
}

form {
    width: 100%;
}

a {
    color: rgba(255, 255, 255, 0.50);
}

.mail {
    font-family: sans-serif;
    font-size: 14px;
    font-weight: 800;
    color: white;
    background-color: #008793;
    border-radius: 24px;
    padding: 16px;
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
}

/*---------------------------------------------responsive design*/

@media (max-width: 700px) {

    header {
        width: 110px;
    }

    footer, .block__item {
        width: inherit;
    }

    .empty_1 {
        height: 0%;
    }

    section {
        width: 98%;
    }

    .empty_2 {
        height: 70%;
    }

    .hbox {
        width: 99%;
        flex-wrap: wrap;
        margin: 0px;
        align-items: center;
        justify-content: center;
    }

    textarea {
        height: 50px;
        font-size: 15px;
    }

    .textinput, .textoutput_1, .textoutput_2, .textoutput_3 {
        width: 100%;
    }

    #result_notifier {
        font-size: 10px;
        font-weight: 600;
        padding-top: 2px;
        padding-bottom: 2px;
    }

    #result_decimal, #result_binary, #result_hexadecimal {
        font-size: 12px;
        font-weight: 600;
        padding: 5px;
    }

    h1 {
        font-size: 15px;
    }

    h6 {
        font-size: 8px;
    }
}
