@{
    ViewData["Title"] = "Load";
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="~/js/SetNameForLoadButton.js" asp-append-version="true"></script>

<section class="title designUI">
    <form>
        <output class="" id="User_Identity_Name">@User.Identity.Name</output>
    </form>
    <form method="post" asp-controller="Account" asp-action="Logout">
        <input type="submit" value="Log out" />
    </form>
</section>
<section class="vbox_section designUI">
    <div class="hbox_center designUI">
        <h2>load</h2>
    </div>
    <div class="block__item designUI">
        <div class="hbox_center designUI">
            <input type="submit" class="button" id="saving_1" />
        </div>
        <div class="hbox_center designUI">
            <input type="submit" class="button" id="saving_2" />
        </div>
        <div class="hbox_center designUI">
            <input type="submit" class="button" id="saving_3" />
        </div>
        <div class="hbox_center designUI">
            <input type="submit" class="button" id="saving_4" />
        </div>
        <div class="hbox_center designUI">
            <input type="submit" class="button" id="saving_5" />
        </div>
    </div>
</section>
<div class="empty_3 designUI"></div>
<script>SetNameForLoadButton()</script>

