@{
    ViewData["Title"] = "Contact";
}
<div class="empty_1 designUI"></div>

<section class="vbox designUI">

    <a style="text-decoration: none;" class="button" rel="nofollow" href="mailto:sviat.gotsko@gmail.com">sviat.gotsko@gmail.com</a>

</section>

<div class="empty_2 designUI"></div>
