@model int
@{
    ViewData["Title"] = "CalcSpace";
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="~/js/executePhrase.js" asp-append-version="true"></script>
<script src="~/js/startMessage.js" asp-append-version="true"></script>
<script src="~/js/setNameForLoadButton.js" asp-append-version="true"></script>
<script src="~/js/save.js" asp-append-version="true"></script>
<script src="~/js/load.js" asp-append-version="true"></script>
<section class="vbox_section designUI">
    @if (User.Identity.IsAuthenticated)
    {
        <div class="designUI">
            <form>
                <output id="User_Identity_Name">@User.Identity.Name</output>
            </form>
        </div>
        <div class="hbox_width160px designUI">
            <form method="post" asp-controller="Account" asp-action="Logout" class="designUI">
                <div class="hbox_center designUI">
                    <input type="submit" value="LOG OUT" id="logOutButton" />
                </div>
            </form>
            <form class="block__item designUI">
                <div class="hbox_center designUI">
                    <input onclick="Save()" type="button" name="send" value="SAVE" id="saveButton" />
                </div>
            </form>
        </div>
        <div class="empty_1 designUI"></div>
        <div class="hbox designUI">
            <form>
                <div class="hbox">
                    <!--Display quantity of saves slots (set in HomeController)-->
                    @for (int numberOfSaves = 1; numberOfSaves <= Model; numberOfSaves++)
                    {
                        string saving = "saving_" + numberOfSaves;
                        <div class="block__item hbox_center designUI">
                            <input onclick="Load(@numberOfSaves), ExecutePhrase()"
                                   type="button" class="button" id=@saving />
                        </div>
                    }
                </div>
            </form>
        </div>
        <script>SetNameForLoadButton()</script>
    }
    else
    {
        <div class="hbox_width160px designUI">
            <div class="hbox_center designUI">
                <a style="text-decoration: none;" asp-controller="Account" asp-action="Login" id="loginButton">LOGIN</a>
            </div>
            <div class="hbox_width160px designUI">
                <a style="text-decoration: none;" asp-controller="Account" asp-action="Register" id="registerButton">SIGNUP</a>
            </div>
        </div>
        <div class="empty_1 designUI"></div>
    }
    <div class="block__item designUI">
        <form oninput="ExecutePhrase()" method="post">
            <textarea class="textinput" name="input" id="textinput" placeholder="Calculate me"
                      spellcheck="false" autofocus></textarea>
        </form>
    </div>
    <div class="block__item designUI">
        <form>
            <output class="textoutput_2" id="result_notifier"></output>
        </form>
    </div>
    <script>StartMessage()</script>
    <div class="hbox">
        <div class="block__item designUI">
            <form>
                <output class="textoutput_1" id="result_decimal">decimal:</output>
            </form>
        </div>
        <div class="block__item designUI">
            <form>
                <output class="textoutput_1" id="result_hexadecimal">hexadecimal:</output>
            </form>
        </div>
    </div>
    <div class="block__item designUI">
        <form>
            <output class="textoutput_3" id="result_binary">binary:</output>
        </form>
    </div>
</section>
<div class="empty_2 designUI"></div>





