@{
    ViewData["Title"] = "CalcSpace";
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="~/js/executePhrase.js" asp-append-version="true"></script>
<script src="~/js/startMessage.js" asp-append-version="true"></script>

<section class="title designUI">
    @if (User.Identity.IsAuthenticated)
    {
        <form>
            <output class="" id="User_Identity_Name">@User.Identity.Name</output>
        </form>
        <form method="post" asp-controller="Account" asp-action="Logout">
            <input type="submit" value="Log out" />
        </form>
        <form method="post">
            <input type="submit" value="Save" id="saveButton" />
        </form>
    }
    else
    {
        <a style="text-decoration: none;" asp-controller="Account" asp-action="Login">LOGIN</a>
        <a style="text-decoration: none;" asp-controller="Account" asp-action="Register">SIGNUP</a>
    }
</section>

<div class="empty_1 designUI"></div>

<section class="vbox_section designUI">

    <div class="block__item designUI">
        <form oninput="ExecutePhrase()" method="post">
            <textarea class="textinput" name="input" id="textinput" placeholder="Calculate me"
                      spellcheck="false" autofocus></textarea>
        </form>
    </div>

    <div class="block__item designUI">
        <form>
            <output class="textoutput_2" id="result_notifier"></output>
        </form>
    </div>

    <script>StartMessage()</script>

    <div class="hbox">

        <div class="block__item designUI">
            <form>
                <output class="textoutput_1" id="result_decimal">decimal:</output>
            </form>
        </div>

        <div class="block__item designUI">
            <form>
                <output class="textoutput_1" id="result_hexadecimal">hexadecimal:</output>
            </form>
        </div>

    </div>

    <div class="block__item designUI">
        <form>
            <output class="textoutput_3" id="result_binary">binary:</output>
        </form>
    </div>

</section>

<div class="empty_2 designUI"></div>

<script src="~/js/save.js" asp-append-version="true"></script>


