<!DOCTYPE html>

<html lang="en" dir="ltr">

<head>

    <meta charset=utf-8>
    <meta name="viewport" content="width=device-width">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/site.css">

</head>

<body class="vbox viewport">

    <header class="designUI">

        <div class="title">

            <div class="title__main">
                <a style="text-decoration: none;" asp-area="" asp-page="/Index"><h1>calcspace</h1></a>
            </div>

            <div class="title__label"><h6>beta</h6></div>

        </div>

    </header>

    @RenderBody()

    <footer class="designUI">

        <a style="text-decoration: none;" asp-area="" asp-page="/Contact">&copy spaceinvaders</a>

    </footer>

    <!--<script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>-->

    @RenderSection("Scripts", required: false)

</body>

</html>
